---
---

<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Livia Z Yanez</title>

    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="stylesheets/github-light.css">
    <link rel="stylesheet" href="stylesheets/livia-styles.css">
    
    <link rel='stylesheet' media='screen and (min-width: 761px) and (max-width: 960px)' href='stylesheets/large-screen.css' />
    <link rel='stylesheet' media='screen and (min-width: 481px) and (max-width: 760px)' href='stylesheets/medium-screen.css' />
    <link rel='stylesheet' media='screen and (max-width: 480px)' href='stylesheets/narrow-screen.css' />
    
    <meta name="viewport" content="width=device-width">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
  
  {% include header.html %}
  
    <div class="wrapper">

      <section>
        <h1>About me</h1>
        <div class="content-container">
        
          <div id="image-container">
            <div id="image-of-me"><img src="/images/me.jpg" alt="me"></div>
          </div>
          
          <div id="text-container">
            <div id="text-about-me">
            <p>Text about me. More text about me. Text about me. More text about me.
            Text about me. More text about me. Text about me. More text about me.
            Text about me. More text about me. Text about me. More text about me.</p>
            <p>You can find my resume <a href="/images/resume.pdf">here</a></p>
          </div></div>
        </div>
      </section>
    
      <section>
        <h1>Projects</h1>
        <div class="content-container">
          <div class="project-grid">
        
          <a href={% post_url 2016-10-01-predicting-viability %}><div class="grid-item">
            <div class="grid-img"><img class="grid-img-img" src="/images/me.jpg"></div>
            <div class="grid-text">Predicting egg and embryo viability based on measurements of their optical and biomechanical properties</div>
          </div></a>
          
          <a href={% post_url 2016-10-01-gene-expression %}><div class="grid-item">
            <div class="grid-img"><img class="grid-img-img" src="/images/me.jpg"></div>
            <div class="grid-text">Identifying patterns of gene expression associated with high developmental potential</div>
          </div></a>
          
          <a href={% post_url 2016-10-01-image-processing %}><div class="grid-item">
            <div class="grid-img"><img class="grid-img-img" src="/images/me.jpg"></div>
            <div class="grid-text">Assessing freezing-induced damage on embryos based on automated image analysis</div>
          </div></a>
          
          <a href={% post_url 2016-10-01-tree-mapping %}><div class="grid-item">
            <div class="grid-img"><img class="grid-img-img" src="/images/me.jpg"></div>
            <div class="grid-text">Side project: mapping trees in San Francisco over time</div>
          </div></a>
        
          </div>
        </div>
      </section>
        
      <section>
        <h1>Contact</h1>
        <div class="content-container">
                
          <div class="contact-group-container">
          <div class="contact-image-container">
            <div id="phone-image"><img src="/images/phone-call.png"></div>
          </div>
          <div class="contact-text-container">
            <div id="phone-text"><p>650.464.6490</p></div>
          </div>
          </div>
  
          <div class="contact-group-container">
          <div class="contact-image-container">
            <div id="github-image"><img src="/images/github.png"></div>
          </div>
          <div class="contact-text-container">
            <div id="github-text"><a href="http://github.com/liviaz">@liviaz</a></div>
          </div>
          </div>
          
          <div class="contact-group-container">
          <div class="contact-image-container">
            <div id="email-image"><img src="/images/mail.png"></div>
          </div>
          <div class="contact-text-container">
            <div id="email-text"><p>livia.z.yanez@gmail.com</p></div>
          </div>
          </div>
          
          <div class="contact-group-container">
          <div class="contact-image-container">
            <div id="linkedin-image"><img src="/images/linkedin.png"></div>
          </div>
          <div class="contact-text-container">
            <div id="linkedin-text"><a href="https://www.linkedin.com/in/livia-yanez-64114225">LinkedIn</a></div>
          </div>
          </div>
        
        </div>
      </section>  
      
      
      <!--
      <section>
        
        <h3>
          Projects
        </h3>

        <p>This page contains links to some of the projects I worked on over the last few years. 
        The main goal of my PhD research was to improve success rates and clinical outcomes 
        after <em>in vitro</em> fertilization (IVF) through better prediction of embryo viability. </p>

        <p>Toward this goal, I noninvasively gathered optical and biomechanical data about embryos at 
        various stages of development and built a model to accurately identify those with high viability. 
        I then used this model to understand what goes wrong at the molecular level when an embryo fails 
        to develop successfully.</p>

        <p>. You can also view the code for each project on my GitHub profile 
        <a href="https://github.com/liviaz" class="user-mention">@liviaz</a>. </p>


      </section> -->
      
      
 
    </div>
    
    
    {% include footer.html %}
    
    <script src="javascripts/scale.fix.js"></script>
    
  </body>
</html>
