---
---

<!doctype html>

<!-- 
Hi :)
-->

<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Livia Z Yanez</title>

    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="stylesheets/github-light.css">
    <link rel="stylesheet" href="stylesheets/livia-styles.css">
    
    <link rel='stylesheet' media='screen and (min-width: 761px) and (max-width: 960px)' href='stylesheets/large-screen.css' />
    <link rel='stylesheet' media='screen and (min-width: 481px) and (max-width: 760px)' href='stylesheets/medium-screen.css' />
    <link rel='stylesheet' media='screen and (max-width: 480px)' href='stylesheets/narrow-screen.css' />
    
    <meta name="viewport" content="width=device-width">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
  
  {% include header.html %}
  
    <div class="wrapper">

      <section>
        <h1>About me</h1>
        <div class="content-container">
        
          <div id="image-container">
            <div id="image-of-me"><img src="/images/me-alt.jpg" alt="me"></div>
          </div>
          
          <div id="text-container">
            <div id="text-about-me">
            <p>My PhD work focused on improving clinical decision-making for <em>in vitro</em> fertilization (IVF) 
            by building better models to predict embryo development.</p>
                       
            <p>More broadly, I'm interested in using data to make better decisions.
                       
            <p>You can find my resume <a href="/images/resume.pdf">here</a></p>
          </div></div>
        </div>
      </section>
    
      <section>
        <h1>Projects</h1>
        <div class="content-container">
          <div class="project-grid">
        
          <a href={% post_url 2016-10-01-predicting-viability %}><div class="grid-item">
            <div class="grid-img" id="embryo-viability-img"></div>
            <div class="grid-text">Developing better predictors of embryo viability</div>
          </div></a>
          
          <a href={% post_url 2016-10-01-gene-expression %}><div class="grid-item">
            <div class="grid-img" id="gene-expr-img"></div>
            <div class="grid-text">Identifying genes important for development</div>
          </div></a>
          
          <a href={% post_url 2016-10-01-image-processing %}><div class="grid-item">
            <div class="grid-img" id="image-processing-img"></div>
            <div class="grid-text">Automated image analysis to detect freezing-induced damage</div>
          </div></a>
          
          <a href={% post_url 2016-10-01-tree-mapping %}><div class="grid-item">
            <div class="grid-img" id="tree-map-img"></div>
            <div class="grid-text">Side project: mapping trees in San Francisco over time</div>
          </div></a>
        
          </div>
        </div>
      </section>
        
      <section>
        <h1>Contact</h1>
        <div class="content-container">
                
          <div class="contact-group-container">
          <div class="contact-image-container">
            <div id="phone-image"><img src="/images/phone-call.png"></div>
          </div>
          <div class="contact-text-container">
            <div id="phone-text"><p>650.464.6490</p></div>
          </div>
          </div>
  
          <div class="contact-group-container">
          <div class="contact-image-container">
            <div id="github-image"><img src="/images/github.png"></div>
          </div>
          <div class="contact-text-container">
            <div id="github-text"><a href="http://github.com/liviaz">@liviaz</a></div>
          </div>
          </div>
          
          <div class="contact-group-container">
          <div class="contact-image-container">
            <div id="email-image"><img src="/images/mail.png"></div>
          </div>
          <div class="contact-text-container">
            <div id="email-text"><p>livia.z.yanez@gmail.com</p></div>
          </div>
          </div>
          
          <div class="contact-group-container">
          <div class="contact-image-container">
            <div id="linkedin-image"><img src="/images/linkedin.png"></div>
          </div>
          <div class="contact-text-container">
            <div id="linkedin-text"><a href="https://www.linkedin.com/in/livia-yanez-64114225">LinkedIn</a></div>
          </div>
          </div>
        
        </div>
      </section>  
      
      
      
 
    </div>
    
    
    {% include footer.html %}
    
    <script src="javascripts/scale.fix.js"></script>
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="javascripts/main.js"></script>-->
    
  </body>
</html>
